.blog{
  height: auto;
  padding:20px;
  &--title{
    font-size:30px;
    text-align: center;
  }
}

.comments{
  border-top: solid black 1px;
  padding:20px;
  font-size: 20px;
  .comment{
    display: flex;
    font-size: 16px;
    padding-top: 10px;
    &--name{
      padding-right: 10px;
    }
  }
  .comment--text{
    font-size: 16px;
    padding-top:5px;
  }
}
.contents p{
  padding-top:20px;
  font-size: 16px;
  font-weight: normal;
}

.comment-create{
  height: auto;
  border-top: solid black 1px;
}