.blog{
  height: auto;
  padding:20px;
  &--title{
    font-size:30px;
    text-align: center;
  }
  &--image{
    text-align: center;
    padding-top: 50px;
  }
  &--text{
    line-height: 30px;
    padding-top: 50px;
  }
}

.comments{
  border-top: solid black 1px;
  padding:20px;
  font-size: 25px;
  .comment{
    display: flex;
    font-size: 16px;
    padding-top: 10px;
    &--name{
      padding-right: 10px;
    }
  }
  .comment--text{
    font-size: 16px;
    padding-top:10px;
    padding-bottom:10px ;
  }
}

.comments p{
  font-size: 16px;
}


.comment--create{
  height: auto;
  padding-top:20px ;
  border-top: solid black 1px;
  .comment__text{
    height: 90px;
    &--name{
      height: 40px;
      width: calc( 100% - 20px );
      padding: 0 10px;
    }
    &--addoress{
      height: 40px;
      width: calc( 100% - 20px );
      padding: 0 10px;
    }
    &--text{
      height: 130px;
      width: calc( 100% - 20px );
      padding: 5px 10px 5px 10px;
    }
    &--btn{
      height: 40px;
      width: 100%;
      margin-top: 30px;
    }
  }
}